/* Define o estilo da animação do mar */
.sea-animation {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;
}

/* Define o estilo das bolhas */
.bubbles {
    position: absolute;
    bottom: -100vh;
    width: 100vw;
}

.bubble {
    position: relative;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: #f1f1f1;
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 20s infinite ease-in;
}

/* Define estilos específicos para cada bolha */
.bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}

.bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.bubble:nth-child(7) {
    width: 90px;
    height: 90px;
    left: 70%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.bubble:nth-child(8) {
    width: 25px;
    height: 25px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.bubble:nth-child(9) {
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(10) {
    width: 90px;
    height: 90px;
    left: 25%;
    animation-duration: 10s;
    animation-delay: 4s;
}

/* Define o estilo dos peixes */
.fish {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.fish img {
    height: 10rem;
    margin-bottom: 50px;
}

/* Define as animações específicas para cada peixe */
#fish1 {
    bottom: 450vh;
    animation: swim 10s linear infinite;
}

#fish2 {
    bottom: 300vh;
    transform: rotateY(180deg);
    animation: swim-reverse 13s linear infinite;
}

#white-shark {
    bottom: 300vh;
    animation: shark-swim 15s linear infinite;
}

#fish3 {
    bottom: 150vh;
    animation: swim 15s linear infinite;
}

#squid-img {
    bottom: 50vh;
    height: 10rem;
    animation: squid-swim 15s linear infinite;
}

/* Animação das bolhas subindo */
@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        bottom: 550vh;
        transform: translateX(-200px);
    }
}

/* Animação dos peixes nadando */
@keyframes swim {
    0% {
        transform: translateX(-10vw);
    }
    10% {
        transform: translateY(-25px) translateX(0vw);
    }
    30% {
        transform: translateY(25px) translateX(20vw);
    }
    50% {
        transform: translateY(-25px) translateX(40vw);
    }
    70% {
        transform: translateY(25px) translateX(60vw);
    }
    80% {
        transform: translateY(-25px) translateX(70vw);
    }
    100% {
        transform: translateY(25px) translateX(120vw);
    }
}

/* Animação dos peixes nadando em sentido inverso */
@keyframes swim-reverse {
    0% {
        transform: translateX(110vw) rotateY(180deg);
    }
    10% {
        transform: translateY(-25px) translateX(100vw) rotateY(180deg);
    }
    30% {
        transform: translateY(25px) translateX(80vw) rotateY(180deg);
    }
    50% {
        transform: translateY(-25px) translateX(60vw) rotateY(180deg);
    }
    70% {
        transform: translateY(25px) translateX(40vw) rotateY(180deg);
    }
    80% {
        transform: translateY(-25px) translateX(30vw) rotateY(180deg);
    }
    100% {
        transform: translateY(25px) translateX(-20vw) rotateY(180deg);
    }
}

/* Animação do tubarão nadando */
@keyframes shark-swim {
    0% {
        transform: translateX(-10vw);
    }
    10% {
        transform: translateX(0vw);
    }
    30% {
        transform: translateY(25px) translateX(15vw);
    }
    50% {
        transform: translateX(30vw);
    }
    70% {
        transform: translateY(25px) translateX(45vw);
    }
    80% {
        transform: translateX(60vw);
    }
    100% {
        transform: translateY(25px) translateX(100vw);
    }
}

/* Animação da lula nadando */
@keyframes squid-swim {
    0% {
        transform: translateX(110vw);
    }
    25% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(60vw);
    }
    75% {
        transform: translateX(30vw);
    }
    100% {
        transform: translateX(-20vw);
    }
}
