@media (max-width: 1300px) {
    .logo{
        display: none;
    }
    nav{
        flex-direction: row-reverse;
    }
    .menu-lateral span{
        font-size: 1.25rem;
    }
    .content article h1,p,img,ul {
        font-size: 1rem;
        padding: 0.5rem;
    }
    .newsletter{
        width: 60%;
        margin: 0 20%;
    }

}

@media (max-width: 650px) {
    button{
        margin: 0;
        transform: scale(0.75);
    }
    .menu-lateral span{
        font-size: 1rem;
    }
    .content article h1,p,img,ul {
        font-size: 0.75rem;
        padding: 0.5rem;
    }
    .newsletter button{
        width: 20%;
    }
}

@media (max-width: 425px) {
    nav button{
        transform: scale(0.5);
    }     
    .newsletter button{
        width: 30%;
    }
    .newsletter input{
        width: 60%;
    }
}

@media (max-width: 375px) {
    nav button{
        transform: scale(0.3);
    }


}

