/* Remove margens e espaçamentos padrões, centraliza o texto e define cor do texto */
* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

/* Define dimensões da tela */
html {
    width: 100%;
    height: 100%;
}

/* Define flexbox para organizar o conteúdo em colunas */
body {
    display: flex;
    flex-direction: column;
}

/* Define imagem de fundo no header, cobrindo toda a área */
header {
    background-image: url("../img/surface.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100vh;
}

/* Define estilo do menu de navegação fixo no topo */
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    height: fit-content;
    z-index: 5;
    width: 100%;
    background-color: rgba(141, 173, 233, 0.161);
}
/* Define estilo do menu lateral */
.menu {
    height: 100vh;
    width: 0;

/* Define estilo dos links no menu lateral */
.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Define estilo dos links ao passar o mouse */
.menu a:hover {
    color: #f1f1f1;
}

/* Define estilo do botão de fechar o menu lateral */
.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Define estilo da logo */
.logo {
    width: fit-content;
    height: 5rem;
    padding: 1rem;
}

/* Remove borda e define o botão de menu como transparente */
button {
    height: fit-content;
    justify-content: center;
    border: 0;
    background: transparent;
}

/* Define estilo do main, incluindo fundo e alinhamento do conteúdo */
main {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #013f3a, #120b30);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Define estilo do conteúdo principal */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Define estilo das seções dentro do conteúdo principal */
.content-section section {
    z-index: 3;
}

/* Define estilo das seções de conteúdo */
.content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(92, 215, 219, 0.2);
    width: 60%;
    padding: 10px;
    align-self: center;
    margin-top: 25%;
    z-index: 2;
}

/* Define estilo do rodapé */
footer {
    background-image: linear-gradient(to bottom, #120b30, #9c916a);
    padding: 10px 0;
    width: 100%;
    align-items: center;
    height: 10rem;
}