* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-image: url('../img/surface.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 80vh;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: fit-content;
    z-index: 3;
    width: 100%;
    
}
.logo{
    margin: 0.5rem 0 0 0.5rem;
    height: 60%;
    border-radius: 1rem;
    background-color: rgba(70, 188, 215, 0.386);
}

.logo img{
    width: fit-content;
    height: 4rem;
    padding: 1rem;   
}


/* Inicia fechado */
.menu-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3.75rem;
    cursor: default;
    
}

.menu-lateral span {
    padding: 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    font-size: 1.5625rem;
    z-index: 3;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu-lateral span:hover {
    color: #f1f1f1;
}

#fechar-menu {
    position: absolute;
    top: 0;
    right: 1.5625rem;
    font-size: 2.25rem;
    margin-left: 3.125rem;
}

button {
    margin: 0.5rem 0.5rem;
    height: fit-content;
    justify-content: center;
    border: 0;
    background: transparent;
}

main {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #013f3a, #261b55);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content article {
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(92, 215, 219, 0.2);
    width: 60%;
    padding: 1.5rem;
    align-self: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.content article h1,p,img,ul {
    font-size: 1.5rem;
    padding: 0.5rem;
}
.carrosel{
    position: relative;
    max-width: 1000px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}
img{
    border-radius: 1rem;
    width: 80%;
}

footer {
    background-image: linear-gradient(to bottom, #120b30, #9c916a);
    padding: 0.625rem 0;
    width: 100%;
    align-items: center;
    height: 10rem;
}